body {
	background-image:url('../img/linen_green.png');
	color: #ffffff;
	margin: 0px;
	padding: 0px;
}

.navbar{
	background-color: #8b796d;
    height: 70px;
    width: 100%;
}

.navbar  ul {
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1.5em;
	color: #ffffff;
	text-transform: uppercase;
	list-style: none;
}

.navbar li {
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
	vertical-align: middle;
}

.navbar a {
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
}