body {
	font-family: 'Vollkorn', serif;
	background-image:url('../img/papertexture.png');
	background-repeat: repeat;
	color: #555555;
	margin: 0px;
	padding: 0px;
}

::selection {
	background: #A5D1D0; /* Safari */
}

::-moz-selection {
	background: #A5D1D0; /* Firefox */
}

p {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
	color: #D97E8E;
}

a:hover {
	color: #aaaaaa;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

li {
	margin: 0px;
	padding: 0px;
}

.border-standard {
	border: 5px #ffffff solid;
}

.curly {
	color: #D97E8E;
	font-family: 'Cookie', cursive;
	font-size: 2.0em;
	margin-left: 5px;
	margin-right: 5px;
}

.emphasis {
	color: #9ec0bc;
	font-family: 'Cookie', cursive;
	font-size: 1.5em;
	margin-left: 5px;
	margin-right: 5px;
	text-transform: lowercase;
}

.handwritten {
	font-family: 'Waiting for the Sunrise', cursive;
	font-size: 1.1em;
	color: #D97E8E;
}

#navbar{
	background-color: #8b796d;
    height: 50px;
    width: 100%;
    border-bottom: 1px #666666 solid;
	background-image:url('../img/fabric_brown.png');
}

#navbar  ul {
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 1.2em;
}

#navbar li {
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
}

#navbar a {
	vertical-align: top;
	display: inline-block;
	color: #ffffff;
}

#navbar a:visited {
	color: #ffffff;
}

#navbar a:hover {
	color: #bbbbbb;
}

.nav-element {
	margin-top: 13px;
}

#logo {
	width: 123px;
	height: 127px;
	padding-top: 15px;
	padding-left: 2px;
	background-image:url('../img/logo_bg.png');
}

#intro-top {
	margin-top: 100px;
	color: #636363;
	margin-bottom: 10px;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 4.1em;
	text-transform: uppercase;
	text-shadow: 0.02em 0.04em 0.04em #888888;
}

#intro-second {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 25px;
	font-size: 1.5em;
	line-height: 1.4em;
}

.arrow {
	height: 96px;
	width: 565px;
	text-align: center;
	font-family: 'Cookie', cursive;
	font-size: 3.6em;
	background-repeat: no-repeat;
	padding-top: 16px;
	background-image:url('../img/arrow_blackthread_texture.png');
	margin-left: auto;
	margin-right: auto;
}

.arrow a {
	color: #ffffff;
}

.arrow a:hover {
	width: 50px;
	color: #ffffff;
}

.arrow-caption {
	width: 400px;
	font-size: 1.3em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

#chart {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	margin-bottom: 15px;
}

#history {
	width: 850px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 50px;
}

#history li {
	display: inline;
	margin-right: 10px;
}

#history-text li {
	display: inline-block;
	width: 150px;
	margin-right: 10px;
}

.workbox {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-align: center;
	width: 900px;
	height: 580px;
	margin-bottom: 40px;
	background-color: #eeeeee;
	background-image:url('../img/stripe.png');
}

#button-right {
	position: absolute;
	margin-top: 290px;
	margin-left: 850px;
}

#button-left {
	position: absolute;
	margin-top: 290px;
	margin-left: 5px;
}

.workbox-title {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	margin-top: 15px;
	font-size: 2.2em;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0.04em 0.04em 0.03em #888888;
}

.workbox-caption {
	margin-top: 5px;
	text-align: center;
}

.workbox-description {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-size: 0.9em;
	text-align: justify;
	width: 720px;
}

#haagen1 {
	margin-top: 25px;
	margin-bottom: 10px;
}

#quaker1 {
	margin-top: 70px;
	margin-right: 20px;
}

#castle1 {
	margin-top: 8px;
}

#forest1 {
	margin-top: 15px;
}

#pirates1 {
	margin-top: 5px;
}

#tree1 {
	margin-top: 20px;
}

#wildswans1 {
	margin-top: 10px;
}

#rmgallery1 {
	margin-top: 5px;
}

#me {
	display: block;
	margin-left: 35%;
	margin-top: 25px;
}

#contact-images {
	margin-left: 14%;
	text-align: center;
	padding: 0px;
	margin-top: -180px;
}

#contact-images li {
	margin-right: 25px;
	margin-left: 25px;
	margin-bottom: 5px;
}

#link-captions {
	margin-top: -180px;
	margin-left: 60%;
}

#link-captions li {
	margin-bottom: 25px;
}

#footer {
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	background-color: #8b796d;
	margin-top: 80px;
    height: 20px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px #666666 solid;
	background-image:url('../img/fabric_brown.png');
}

#copyright {
	color: #ffffff;
	text-align: center;
	font-size: 0.9em;
}