body {
	font-family: 'Open Sans Condensed', sans-serif;
	background-image:url('../img/linen_green.png');
	background-repeat: repeat;
	color: #ffffff;
	margin: 0px;
	padding: 0px;
}

::selection {
	background: #F59AA5; /* Safari */
}

::-moz-selection {
	background: #F59AA5; /* Firefox */
}

p {
	margin: 0px;
	padding: 0px;
}

#navbar{
	background-color: #8b796d;
    height: 70px;
    width: 100%;
    border-bottom: 1px #d8d4cf solid;
}

#navbar  ul {
	text-align: center;
	margin: 0px;
	padding: 0px;
	font-size: 1.6em;
	color: #ffffff;
	text-transform: uppercase;
	list-style: none;
}

#navbar li {
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
}

#navbar a {
	vertical-align: top;
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
}

#navbar a:visited {
	color: #ffffff;
}

#navbar a:hover {
	color: #cccccc;
}

.nav-element {
	margin-top: 17px;
}

#intro {
	margin-top: 100px;
	margin-bottom: 100px;
	text-align: center;
}

#intro-top {
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	font-size: 3.5em;
	text-transform: uppercase;
	text-shadow: 0.02em 0.03em 0.04em #5ba5a1;
}

#intro-second {
	font-size: 2em;
	text-shadow: 0.05em 0.08em 0.04em #5ba5a1;
}

.emphasis {
	color: #d95377;
	font-family: 'Cookie', cursive;
	font-size: 1.6em;
	padding-left: 5px;
	padding-right: 5px;
}

.arrow {
	height: 124px;
	width: 220px;
	text-align: center;
	font-family: 'Cookie', cursive;
	font-size: 2.7em;
	background-repeat: no-repeat;
	padding-top: 37px;
}

.right-arrow {
	background-image:url('../img/arrow_right.png');
}

.left-arrow {
	background-image:url('../img/arrow_left.png');
	float: right;
}

#about-caption {
	font-size: 1.3em;
	margin-top: -115px;
	margin-left: 300px;
}

#work-caption {
	float: right;
	font-size: 1.3em;
	text-align: right;
	margin-right: 70px;
	margin-top: 45px;
}

#contact-caption {
	font-size: 1.3em;
	margin-top: -115px;
	margin-left: 300px;
}

#about {
}

#work {
}

#contact {
	clear: right;
	margin-bottom: 200px;
}

#me {
	margin-left: 25%;
	margin-top: 50px;
	border: 10px #ffffff solid;
}

#contact-images {
	padding: 0px;
	text-align: center;
	margin-top: -200px;
	list-style: none;
}

#contact-images li {
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 2px;
}

#contact-text {
	padding: 0px;
	list-style: none;
	margin-top: -180px;
	padding-left: 20px;
	margin-left: 51%;
	font-size: 1.3em;
}

#contact-text li {
	margin-top: 0px;
	margin-bottom: 15px;
}

#contact-text a {
	color: #ffffff;
	text-decoration: none;
}

#contact-text a:hover {
	color: #dddddd;
}

#footer {
	clear: both;
	background-color: #8b796d;
    height: 30px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px #d8d4cf solid;
}

#copyright {
	text-align: center;
	font-size: 1.1em;
}


